body{
  background:  linear-gradient(-90deg, rgb(198, 211, 206), rgb(45, 169, 190));
  font-family: 'PT Sans Narrow', sans-serif;
}

.content-one{
  padding-top: 150px;
}

.content-two {
  padding-top: 60px;
  padding-bottom: 50px;
}

.navbar-btn-vote {
  margin: 10px;
}

.zoom {      
  -webkit-transition: all 0.35s ease-in-out;    
  -moz-transition: all 0.35s ease-in-out;    
  transition: all 0.35s ease-in-out;     
  cursor: -webkit-zoom-in;      
  cursor: -moz-zoom-in;      
  cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
  -ms-transform: scale(2.5);    
  -moz-transform: scale(2.5);  
  -webkit-transform: scale(2.5);  
  -o-transform: scale(2.5);  
  transform: scale(2.5);    
  position:relative;      
  z-index:100;  
}


/* Contact Styles */

#contact {
  position: relative;
  overflow: hidden;
  padding: 20px 0 30px;
  color: white;
}

#contact ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact i.fa {
  margin: 0 30px;
  opacity: 0.6;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

#contact i.fa:hover {
  opacity: 1;
}

#contact .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.9;
  z-index: -1;
}

@media (max-width: 500px) {
  #contact {
    padding: 10px 0 15px;
  }

  #contact i.fa {
    margin: 0 15px;
  }
}

@media (max-width: 400px) {
  #contact i.fa {
    font-size: 13vw;
  }
}