body{
  background:  linear-gradient(-90deg, rgb(198, 211, 206), rgb(45, 169, 190));
  font-family: 'PT Sans Narrow', sans-serif;
  overflow-x:hidden;  
}

.content-one{
  padding-top: 150px;
}

.content-two {
  padding-top: 60px;
  padding-bottom: 50px;
}

.navbar-btn-vote {
  margin: 10px;
}

.zoom {      
  -webkit-transition: all 0.35s ease-in-out;    
  -moz-transition: all 0.35s ease-in-out;    
  transition: all 0.35s ease-in-out;     
  cursor: -webkit-zoom-in;      
  cursor: -moz-zoom-in;      
  cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
  -ms-transform: scale(2.5);    
  -moz-transform: scale(2.5);  
  -webkit-transform: scale(2.5);  
  -o-transform: scale(2.5);  
  transform: scale(2.5);    
  position:relative;      
  z-index:100;  
}

#contact {
  overflow: hidden;
  padding: 20px 30% 30px;
}

#contact ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#dropdownMenuButton:hover {
  color: blue;
  /*erster Param ist der Zeitdauerwert, der zweite bestimmt wann es beginnt*/
  transition: background 1s, transform 2s 1s;
  transform: rotate(720deg);
}

.fahrender-tesla {
  float: right;
  animation: drive 3s cubic-bezier(1,.05,.34,.97) infinite;
  /* shorthand ersetzt den ganzen kram
  animation-name: drive;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1,.05,.34,.97); */
}

@keyframes drive{
  from{ transform: translateX(500px)}
  to{ transform: translateX(-1500px)}
}

@keyframes jump{
  0%{ top: -40px}
  50%{ top: -100px}
  100%{ top: -40px}
}

/* POP-UP STYLING */
.pop-up{
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: rgb(48, 53, 53);
  position: relative; 
  top: -2800px;
  width: 300px;
  padding: 0;
  animation: popup 5s ease-in forwards;
}

.pop-up-away {
  opacity: 0;
}

.cross {
  position: absolute;
  top:10px;
  left: 10px;
  background: darkgrey;
}

.cross:hover {
  background: rgb(133, 130, 130);
}

@keyframes popup {
  0%{opacity: 0;}
  70%{transform: translateY(900px)}
  100%{transform: translateY(850px); opacity: 1;}
}
