body{
  background:  linear-gradient(-90deg, rgb(198, 211, 206), rgb(45, 169, 190));
  font-family: 'PT Sans Narrow', sans-serif;
}


#content {
  padding-top: 60px;
}

#navbar {
  display: flex;
  justify-content: space-around;
}

.navbar-btn-vote {
  margin: 10px;
}

#chelsea-logo {
  width: 20px;
  height: 20px;
}

.skills-pictures {
  display: flex;
  width: 100px;
  height: 100px;
}
/* .navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 30px;
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  background-color:rgb(165, 161, 161);
  font-size: 25px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: none;
  color: black;
} */


/* .parent {
  font-size: 30px;
  height: 440px;
  margin: 30px;
  margin-top: 10px;
  color: rgb(60, 34, 206);
  padding: 10px;
  border-radius: 20px;
  background: url("bild.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}  */